name: "e2e"

components:
  - name: "main"
    type: "pod"
    start_by_default: true
    dependencies: []
    ports:
      - host: 26657
        container: 26657
      - host: 1606
        container: 1606
      - host: 1317
        container: 1317
      - host: 9090
        container: 9090
      - host: 4001
        container: 4001
    containers:
      - name: "e2e-ember"
        image: "quay.io/gevulot/ember:latest"
        command: ["start"]
        volumes:
          - host: "./examples/gevulot/assets/ember-data-directory"
            container: "/root/.gevulot"
      - name: "e2e-postgres" 
        image: "postgres:15"
        environment:
          - "POSTGRES_PASSWORD=postgres"
          - "POSTGRES_USER=postgres"
          - "POSTGRES_DB=postgres"

  - name: "worker-1"
    type: "pod"
    dependencies: ["main", "nomad"]
    containers:
      - name: "e2e-ipfs-1"
        image: "ipfs/kubo:latest"
        volumes:
          - host: "./examples/gevulot/assets/ipfs-data-1"
            container: "/data/ipfs"
      - name: "e2e-sara-1"
        image: "quay.io/gevulot/sara:latest"
        environment:
          - "RUST_LOG=debug"
        command: 
          - "--address=127.0.0.1:1606"
          - "--database-url=postgres://postgres:postgres@main/postgres"
          - "--rpc-url=http://main:26657"
          - "--start-block-height=1"
          - "--gevulot-grpc-url=http://main:9090"
          - "--worker-id=worker-1"
          - "--mnemonic=idle valley unveil champion dove echo bright advance mind image penalty sand slender random wage embrace bench only boring veteran use arch spy stomach"
      - name: "e2e-eve-1"
        image: "quay.io/gevulot/eve:latest"
        entrypoint: "/bin/sh"
        command: ["-c", "/usr/local/bin/eve run"]
        network: "host"
        environment:
          - "CONFIG_FILE_LOCATION=/config/config.toml"
          - "RUST_LOG=debug"
        volumes:
          - host: "./examples/gevulot/assets/eve-config-1"
            container: "/config/:z"
          - host: "./examples/gevulot/assets/eve-config-1/worker-id"
            container: "/root/.local/share/gevulot/.worker-id:z"

  - name: "worker-2"
    type: "pod"
    dependencies: ["main", "nomad"]
    containers:
      - name: "e2e-ipfs-2"
        image: "ipfs/kubo:latest"
        volumes:
          - host: "./examples/gevulot/assets/ipfs-data-2"
            container: "/data/ipfs"
      - name: "e2e-sara-2"
        image: "quay.io/gevulot/sara:latest"
        environment:
          - "RUST_LOG=debug"
        command:
          - "--address=127.0.0.1:1606"
          - "--database-url=postgres://postgres:postgres@main/postgres"
          - "--rpc-url=http://main:26657"
          - "--start-block-height=1"
          - "--gevulot-grpc-url=http://main:9090"
          - "--worker-id=worker-2"
          - "--mnemonic=about soap pepper ball town maid settle fashion cupboard finger acoustic illness asthma prepare spawn cube cabin boss key flock save such phrase section"
      - name: "e2e-eve-2"
        image: "quay.io/gevulot/eve:latest"
        entrypoint: "/bin/sh"
        network: "host"
        command: ["-c", "/usr/local/bin/eve run"]
        environment:
          - "CONFIG_FILE_LOCATION=/config/config.toml"
          - "RUST_LOG=debug"
        volumes:
          - host: "./examples/gevulot/assets/eve-config-2"
            container: "/config/:z"
          - host: "./examples/gevulot/assets/eve-config-2/worker-id"
            container: "/root/.local/share/gevulot/.worker-id:z"

  - name: "nomad"
    type: "process"
    dependencies: []
    command: ["nomad", "agent", "-config=./examples/gevulot/assets/nomad/config.hcl", "-dev"]

reset:
  - "podman run -v .:/work -w /work alpine rm -rf ./examples/gevulot/assets/ipfs-data-1 > /dev/null 2>&1"
  - "podman run -v .:/work -w /work alpine rm -rf ./examples/gevulot/assets/ipfs-data-2 > /dev/null 2>&1" 
  - "mkdir -p ./examples/gevulot/assets/ipfs-data-1 > /dev/null 2>&1"
  - "mkdir -p ./examples/gevulot/assets/ipfs-data-2 > /dev/null 2>&1"
  - "git checkout -- ./examples/gevulot/assets > /dev/null 2>&1"
  - "git clean -f -d ./examples/gevulot/assets > /dev/null 2>&1"

global:
  scripts:
    - "./examples/gevulot/tests"
  module_dirs:
    - "./examples/gevulot/modules"
  reset_once: true

