name: "Demo"

components:
  - name: "webserver-in-pod"
    depends_on: []
    start_by_default: true
    type: pod
    ports:
      - host: 8080
        container: 80
    containers:
      - name: "webserver"
        image: "caddy:2.9.0-builder-alpine"
        command: ["caddy", "file-server", "--root", "/srv/www"]
        environment:
          - CADDY_FILE_SERVER_ROOT="/srv/www"
        volumes:
          - host: "./assets/www"
            container: "/srv/www"

  - name: "webserver-in-container"
    depends_on: []
    type: container
    ports:
      - host: 8080
        container: 80
    image: "caddy:2.9.0-builder-alpine"
    command: ["caddy", "file-server", "--root", "/srv/www"]
    environment:
      - CADDY_FILE_SERVER_ROOT="/srv/www"
    volumes:
      - host: "./assets/www"
        container: "/srv/www"

  - name: "webserver-as-process"
    depends_on: []
    type: process
    command: ["caddy", "file-server", "--root", "./assets/www"]
    environment:
      - CADDY_FILE_SERVER_ROOT="/srv/www"

reset:
  - "echo 'Resetting'"
  - "echo 'Done'"

tests:
  - ./tests/demo.rhai
