name: self-test
global:
  scripts:
    - examples/self-test/tests/smoke.rhai
    - examples/self-test/tests/modules.rhai
    - examples/self-test/tests/builtins.rhai
    - examples/self-test/tests/components.rhai
    - examples/self-test/tests/stdlib.rhai
    - examples/self-test/tests/encoding.rhai
    - examples/self-test/tests/http.rhai
    - examples/self-test/tests/fs.rhai
  module_dirs:
    - examples/self-test/modules
    - examples/self-test/modules2
    - src/stdlib
  reset_once: true

components:
  - name: test-container
    type: container
    image: alpine:latest
    command: ["sleep", "1000000"]

  - name: test-pod
    type: pod
    containers:
      - name: alpine
        image: alpine:latest
        command: ["sleep", "1000000"]

  - name: test-process
    type: process
    command: ["sleep", "1000000"]

reset:
  - rm -rf .smoke-test
